<ba-card>

  <!-- Container for sidebar(s) + page content -->
  <ng-sidebar-container>
    <section class="example-section">
      <md-slide-toggle (change)="changeViewMode($event)">
        多视图
      </md-slide-toggle>
    </section>
    <!--<button (click)="changeViewMode()">Change ViewMode</button>-->
    <div *ngIf="viewMode==='singleView'">
      <app-single-view></app-single-view>
    </div>
    <div *ngIf="viewMode==='splitView'">
      <app-split-view></app-split-view>
    </div>

    <!-- A sidebar -->
    <ng-sidebar [(opened)]="_opened" [mode]="_mode" [position]="_position">
      <p>Sidebar contents</p>
    </ng-sidebar>
    <!--[mode]="_mode" [position]="_position"-->
    <!-- Page content -->
    <button (click)="_toggleSidebar()">Toggle sidebar</button>

  </ng-sidebar-container>
</ba-card>
<split direction="vertical">
  <split-area [size]="25">
    <p>Lorem ipsum dolor sit amet...</p>
  </split-area>
  <split-area [size]="75">
    <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
  </split-area>
</split>
<split direction="horizontal">
  <split-area [size]="40">
    <split direction="vertical">
      <split-area>
        <p>Lorem ipsum dolor sit amet...</p>
      </split-area>
      <split-area>
        <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
      </split-area>
      <split-area>
        <p>Lorem ipsum dolor sit amet...</p>
      </split-area>
    </split>
  </split-area>
  <split-area [size]="60">
    <split direction="vertical">
      <split-area [size]="25">
        <p>Lorem ipsum dolor sit amet...</p>
      </split-area>
      <split-area [size]="75">
        <p>Sed ut perspiciatis unde omnis iste natus erro...</p>
      </split-area>
    </split>
  </split-area>
</split>
<!--<iron-list [items]="items" as="item">-->
  <!--<template ngNonBindable>-->
    <!--<div>[[item]]</div>-->
  <!--</template>-->
<!--</iron-list>-->
<vaadin-split-layout>
  <div>
    <div id="mr0" style="width:256px;height:256px;display:inline-block;"
         class="cornerstone-enabled-image"
         oncontextmenu="return false"
         unselectable='on'
         onselectstart='return false;'
         onmousedown='return false;'>
    </div>
    Elit laborum pariatur cumque accusamus ad Cum vel nobis molestiae esse est, reprehenderit? Excepturi soluta magnam voluptates totam rem porro. Cupiditate tempora nobis aspernatur reiciendis molestias. Perspiciatis delectus esse hic</div>
  <div>Ipsum esse quam placeat architecto accusamus! Velit sed hic voluptas officiis minima? Tempore perspiciatis rerum exercitationem qui ipsam, dolore. Id officia autem porro impedit quae Praesentium atque eos libero illo?</div>
</vaadin-split-layout>


<custom-style>
  <style is="custom-style">
    .custom-7-1,
    .custom-7-2,
    .custom-7-3 {
      --vaadin-split-layout-splitter: {
        min-width: 1px;
        min-height: 1px;
        background: var(--dark-theme-divider-color);
        border: solid 5px transparent;
        background-clip: content-box;
        fill: none;
      };

      background: var(--dark-theme-background-color);
      color: var(--dark-theme-text-color);
    }
  </style>
</custom-style>
<vaadin-split-layout id="my-element" class="custom-7-1">
  <vaadin-split-layout vertical class="custom-7-2">
    <div #testDom id="mr1" myCornerstoneElement="example://1" style="width:256px;height:256px;display:inline-block;"
         oncontextmenu="return false"
         unselectable="on"
         onselectstart="return false;"
         onmousedown="return false;"></div>
    <div>
      <div id="mr2" myCornerstoneElement="example://1" style="width:256px;height:256px;display:inline-block;"
           oncontextmenu="return false"
           unselectable="on"
           onselectstart="return false;"
           onmousedown="return false;"></div>
      Second content element</div>
  </vaadin-split-layout>
  <vaadin-split-layout vertical class="custom-7-3">
    <div>
      <div id="mr3" style="width:256px;height:256px;display:inline-block;"
           class="cornerstone-enabled-image"
           oncontextmenu="return false"
           unselectable='on'
           onselectstart='return false;'
           onmousedown='return false;'></div>
      Third content element</div>
    <div>
      <div id="mr4" style="width:256px;height:256px;display:inline-block;"
           class="cornerstone-enabled-image"
           oncontextmenu="return false"
           unselectable='on'
           onselectstart='return false;'
           onmousedown='return false;'>
      </div>
      Fourth content element</div>
  </vaadin-split-layout>
</vaadin-split-layout>
  <button id="changeLayout" (click)="changeLayout()">Change Layout</button>
  <!--<div *ngIf="!isFourImageShown">-->
    <!--<div id="mr0" style="width:512px;height:512px;display:inline-block;"-->
         <!--class="cornerstone-enabled-image"-->
         <!--oncontextmenu="return false"-->
         <!--unselectable='on'-->
         <!--onselectstart='return false;'-->
         <!--onmousedown='return false;'>-->
    <!--</div>-->
  <!--</div>-->
  <!--<div *ngIf="isFourImageShown">-->
  <div style="width: 552px">

  </div>

  <!--<split direction="horizontal">-->
    <!--<split-area size="40">-->
      <!--<split direction="vertical">-->
        <!--<split-area size="30">-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
        <!--</split-area>-->
        <!--<split-area size="40">-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
          <!--<p>Sed ut perspiciatis unde omnis iste natus erro...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
        <!--</split-area>-->
        <!--<split-area size="30">-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
        <!--</split-area>-->
      <!--</split>-->
    <!--</split-area>-->
    <!--<split-area size="60">-->
      <!--<split direction="vertical">-->
        <!--<split-area size="50">-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
          <!--<p>Lorem ipsum dolor sit amet..Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet....</p>-->
        <!--</split-area>-->
        <!--<split-area size="50">-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
          <!--<p>Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
          <!--<p>Sed ut perspiciatis unde omnis iste natus erro...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...Lorem ipsum dolor sit amet...</p>-->
        <!--</split-area>-->
      <!--</split>-->
    <!--</split-area>-->
  <!--</split>-->
<!--</ba-card>-->

<!--<md-card class="card-demo">-->
  <!--<md-card-title>-->
    <!--<a href="https://github.com/angular/flex-layout/issues/181" target="_blank">Issue #266</a>-->
  <!--</md-card-title>-->
  <!--<md-card-subtitle>Using ngxSplit with Flex-Layout:</md-card-subtitle>-->
  <!--<md-card-content>-->
    <!--<div class="night-theme">-->
      <!--<div fxLayout="row" style="height:500px" ngxSplit="row">-->
        <!--<div fxFlex="30%" ngxSplitArea class="c1r1" >-->
          <!--<div class="c1r1_header" >Column #1 - Row #1</div>-->
          <!--<ul>-->
            <!--<li>2 Columns: 30% + 70%</li>-->
            <!--<li>2nd Column: 2 rows</li>-->
            <!--<li>2nd Column: 50% + 50%</li>-->
          <!--</ul>-->
        <!--</div>-->
        <!--<div class="handle handle-row" ngxSplitHandle>-->
          <!--<i class="material-icons">&#xE25D;</i>-->
        <!--</div>-->
        <!--<div fxFlex="70%" ngxSplitArea>-->
          <!--<div fxLayout="column" fxFlexFill ngxSplit="column">-->
            <!--<div fxFlex="50%" ngxSplitArea class="c2r1_body" >-->
              <!--<div class="c2r1_header" >Column #2 - Row #1</div>-->
              <!--<h1>Layout Dashboard</h1>-->
              <!--<p>-->
                <!--Demonstrate use of ngxSplit with the Flex-Layout API-->
                <!--and flexbox css layouts.-->
                <!--<br/><br/>-->
                <!--Haxx0r ipsum cd ctl-c Starcraft concurrently salt unix baz class bar linux-->
                <!--January 1, 1970 syn for mutex daemon todo mountain dew recursively. Mainframe-->
                <!--wannabee machine code hack the mainframe do void python bin big-endian break-->
                <!--tcp ddos emacs public frack.Over clock headers data private *.* pwned-->
                <!--fork script kiddies.-->
              <!--</p>-->
            <!--</div>-->
            <!--<div class="handle handle-column" ngxSplitHandle>-->
              <!--<i class="material-icons">&#xE25D;</i>-->
            <!--</div>-->
            <!--<div fxFlex="50%" ngxSplitArea class="c2r2" >-->
              <!--<div class="c2r2_header" >Column #2 - Row #2</div>-->
              <!--<ul>-->
                <!--<li>List Item #1</li>-->
                <!--<li>List Item #2</li>-->
                <!--<li>List Item #3</li>-->
              <!--</ul>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</md-card-content>-->
<!--</md-card>-->


<!--<div *ngFor="let item of imageUrl">-->
  <!--<div id="{{item.id}}" class="cornerstone-enabled-image cornerstone-test tn" style="width:256px;height:256px;"-->
       <!--oncontextmenu="return false"-->
       <!--unselectable="on"-->
       <!--onselectstart="return false;"-->
       <!--onmousedown="return false;"-->
       <!--(click)="loadImg(item.url)">-->
  <!--</div>-->
<!--</div>-->
<!--<virtual-scroll [items]="items" (update)="viewPortItems = $event">-->
  <!--<list-item *ngFor="let item of viewPortItems" [item]="item">-->
  <!--</list-item>-->
<!--</virtual-scroll>-->
