<div class="row">
  <div class="col-md-1"></div>
  <div class="col-md-10">
    <ba-card>
      <div fxLayout="row" fxLayoutWrap>
        <div fxFlex="100" fxLayoutAlign="center">
          <h1 style="margin: auto;">新建发送申请</h1>
        </div>
        <div fxFlex="100">
          <hr style="background-color: whitesmoke">
        </div>
        <div fxFlex="45">
          <form>
            <table style="width: 100%" cellspacing="0"><tr>
              <td>
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="姓名" disabled value="XXX">
                </md-input-container>
              </td>
              <td>
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="年龄" disabled value="89">
                </md-input-container>
              </td>
            </tr></table>
            <table style="width: 100%" cellspacing="0"><tr>
              <td>
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="扫描部位" disabled value="1569864568">
                </md-input-container>
              </td>
              <td>
                <md-input-container style="width: 100%">
                  <input mdInput placeholder="扫描类型" disabled value="MRI">
                </md-input-container>
              </td>
            </tr></table>
            <md-input-container style="width: 100%">
              <textarea mdInput placeholder="初步诊断"></textarea>
            </md-input-container>
            <md-input-container style="width: 100%">
              <textarea mdInput placeholder="病史描述"></textarea>
            </md-input-container>
          </form>
        </div>
        <div fxFlex="10"></div>
        <div fxFlex="45">
          <form>
            <md-input-container style="width: 100%">
              <textarea mdInput placeholder="申请阅片原因"></textarea>
            </md-input-container>
          </form>
        </div>
        <div fxFlex="100">
          <hr style="background-color: whitesmoke">
        </div>
          <div fxFlex="100">
            <div class="row" >
              <div class="col-md-8">
                <div  class="form-group" >
                  <md-select placeholder="发送至" [(ngModel)]="applyTo">
                    <md-option *ngFor="let item of users" [value]="item.name">
                      {{ item.name }}
                    </md-option>
                  </md-select>
                </div>
              </div>
              <div class="col-md-2">
                <button md-raised-button  (click)="add(heroName.value, heroAge.value , heroScantype.value ,heroReason.value,
         heroDiagnosis.value);gotoHeroes(); heroName.value=''; heroAge.value=''; sendMail()" >发送申请</button>
              </div>
              <div class="col-md-2">
                <button md-raised-button type="submit" (click)="goBack()">返回</button>
              </div>
            </div>
          </div>
        </div>
    </ba-card>
  </div>
  <div class="col-md-1"></div>
</div>

