/* You can add global styles to this file, and also import other style files */
// Import all the tools needed to customize the theme and extract parts of it
//@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';

.magnifyTool{
  border: 4px white solid;
  box-shadow: 2px 2px 10px #1e1e1e;
  border-radius: 50%;
  display: none;
  cursor: none;
}

#scrolling { /* Carousel Frame */
  position: relative;

  background-color: #ffffff;/*#FF8383;*//*FF473D*/
  height:256px;
  width:256px;
  left: 256px;
}

#scrolling ul {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;
  padding: 0;
  position: absolute;
  /*top:10%;*/
  //margin-top:4vh;
  //height:80%;

  list-style-type: none;

  -webkit-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

#scrolling li {
  font-size:8vmin;/*cool*/
  float: left;
  width:256px;
  min-width: 250px;
  height: 256px;
  color: #000;
  font-weight: 300;
  text-align: center;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -o-border-radius: 30px;
  -moz-border-radius: 30px;
  cursor: pointer;
  background: #FFF;
  -webkit-transform:  scale(0.95);
  -ms-transform:  scale(0.95);
  -moz-transform:  scale(0.95);
  transform: scale(0.95);
}
.itemslide-active
{/*applied to current active item*/
  -webkit-transform:  scale(1);
  -ms-transform:  scale(1);
  -moz-transform:  scale(1);
  transform: scale(1);
}
